TENANT_ID=<TENANT_ID>
SUBSCRIPTION_ID=<SUBSCRIPTION_ID>
RESOURCE_GROUP=<RESOURCE_GROUP_NAME>
FUNCTION_APP_URL=<FUNCTION_APP_URL>
PURVIEW_ACCOUNT_NAME=<PURVIEW_ACCOUNT_NAME>
WORKSPACE_NAME=<WORKSPACE_NAME>
